.article-view {
  color: #454b51;

  &__body {
    max-width: 50rem;
    margin: 1rem auto;
  }

  &__title {
    text-align: center;
    color: deepskyblue;
  }

  &__text {

    line-height: 1.8;
  }
}
