.article-list {
  .article {
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;

    &--last {
      background-color: rgba(0,191,255,0.12);
    }
  }

  &__no-data {
    text-align: center;
    padding: 0.5rem 0;
  }
}
