.article-form {
  display: flex;
  flex-direction: column;

  &__title,
  &__text {
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 1px solid deepskyblue;
    &:focus-visible {
      outline-color: deepskyblue;
    }
  }

  &__controls {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
