.article-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    flex: 1 1 auto;
  }

  &__date {
    flex: 0 1 5rem;
  }

  &__controls {
    flex: 0 1 5rem;
  }
}
