.page-control-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  padding: 0.5rem;

  &__links {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__sort {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
