.page-form-layout {
  &__header {
    display: flex;
  }

  &__header-left,
  &__header-right {
    flex: 1 0 25%;
  }

  &__header-center {
    flex: 1 1 50%;
    text-align: center;
  }

  &__controls {
    display: flex;

  }
}
