.comment-list {
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
  background-color: aqua;

  &__error {
    color: white;
    background-color: lightcoral;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
  }

  &__add {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }

  &__new-comment {
    margin: 1rem 0;
  }

  &__new-comment-text {
    width: calc(100% - 2rem);
    padding: 1rem;
  }

  .comment {
    margin: 0.5rem 1rem;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.2rem;

    &__user {
      font-weight: bolder;
    }

    &__body {
      padding: 1rem 0.5rem 1rem 2.5rem;
      line-height: 1.4;
    }

    &__no-comment {
      text-align: center;
      margin: 1rem 0;
    }
  }
}
