.button {
  display: block;
  text-decoration: none;
  color: deepskyblue;
  border: 1px solid deepskyblue;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: white;

  &--disabled {
    background-color: #e5f0f4;
  }
}
