.app-header {
  background-color: #f6f6f6;


  &__body {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    margin: 0 1rem;
  }
}
