.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__current-page {
    padding: 0 0.5rem;
    color: deepskyblue;
  }

  &__per-page-label {
    padding-right: 0.5rem;
  }

  &__per-page {
    padding: 0.5rem 1rem;
    border: 1px solid deepskyblue;
    width: 2rem;

    &:focus-visible {
      outline-color: deepskyblue;
    }
  }
}
