.error-bar {
  max-width: 40rem;
  margin: 0 auto;

  &__error {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    color: white;
    background-color: lightcoral;
  }

  &__error-parent {
    padding-right: 0.5rem;
    font-weight: bolder;
  }

  &__error-button-remove {
    color: white;
    border: 1px solid white;
    background-color: lightcoral;
  }
}
